form {
  width: 400px; 
}
form > div {
  position: relative;
  overflow: hidden;
  margin-top: 15px;
  border-radius: 5px;
  z-index: 1;
}
form input, form select{
  border-radius: 5px;
  width: 100%;
  border: 1px solid gray;
  background-color: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
/*if the vlaue selected is valid change background color into white*/
select:valid{
background-color:#ffffff !important;
}
.l_s_form > input:invalid {
  background: none;
  z-index: 2;
}
.l_s_form > input:valid {
  background: #f7f7f7 !important;
  z-index: 2;
}

form input:focus + label, form select:focus + label {
  color: var(--darkFont);
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}
form label {
  transition: all 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}
form.go-bottom input, form.go-bottom select {
  padding: 12px;
}
form.go-bottom label {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
form.go-bottom input:focus, form.go-bottom #position:focus {
  padding: 4px 18px 20px 6px;
}
form.go-bottom input:focus + label, form.go-bottom #position:focus + label {
  top: 100%;
  margin-top: -16px;
}
#subBtn {
  width: 100%;
  height: 40px;
  border: 2px solid #212931;
  background-color: var(--darkFont);
  color: #f3f3f3;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}
